body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input:focus, select:focus, textarea:focus {
  border-color: #4facfe;
  outline: none;
  box-shadow: 0 0 5px rgba(79,172,254,0.5);
}

textarea {
  resize: none;
  height: 80px;
}

label {
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background: #4facfe;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #007bff;
}

.erro {
  color: red;
  font-weight: bold;
}

.sucesso {
  color: green;
  font-weight: bold;
}

#mensagem {
  margin-top: 15px;
}
